{% extends "management-interface::template.index" %}

{% block section_body %}
    <div class="row">
        <div class="col-lg-6 col-xs-12">
            <div class="card">
                <div class="card-head">
                    <header><h5>{{ trans_choice('management-interface::hostname.hostname',2) }}</h5></header>
                </div>
                <div class="card-body no-padding">
                    {% include "management-interface::template.tables.hostnames" with {'hostnames': website.hostnames().paginate()} %}
                </div>
            </div>
        </div>
    </div>
    {% include "management-interface::hostname.forms.add-hostname" %}
{% endblock %}